[package]
name = "onego"
version = "0.0.1"
edition = "2024"

[lib]
name = "onego"
crate-type = ["cdylib", "rlib"]

[dependencies]
pyo3 = { version = "0.27.2", optional = true } 

[dev-dependencies]
gungraun = "0.17"
criterion = { version = "0.8.1", features = ["html_reports"] }
lexbor_rust = { git = "https://github.com/zacharyvmm/lexbor-rust-css-selection.git" }
scraper = "0.25.0"
tl = "0.7.8"

[[bench]]
name = "memory_bench"
harness = false

[[bench]]
name = "speed_bench"
harness = false

[features]
python = ["dep:pyo3", "pyo3/extension-module"]

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
# panic = "abort"
panic = "unwind"
# strip = "symbols"
strip = "none"
overflow-checks = false
incremental = false
debug = 1

[profile.release.package."*"]
opt-level = 3
codegen-units = 1
debug = 1
