[package]
name = "onego"
version = "0.0.1"
edition = "2024"

[workspace]
members = ["python"]

[lib]
name = "onego"
path = "src/lib.rs"

[dependencies]
smallvec = "1.15.1"

[dev-dependencies]
gungraun = "0.17"
criterion = { version = "0.8.1", features = ["html_reports"] }
lexbor_css = { git = "https://github.com/zacharyvmm/lexbor-rust-css-selection.git" }
scraper = "0.25.0"
tl = "0.7.8"
pretty_assertions = "1.4.1"

[[bench]]
name = "memory_bench_simple_all"
path = "benches/simple/all/memory_bench.rs"
harness = false

[[bench]]
name = "memory_bench_simple_first"
path = "benches/simple/first/memory_bench.rs"
harness = false

[[bench]]
name = "speed_bench_simple_all"
path = "benches/simple/all/speed_bench.rs"
harness = false

[[bench]]
name = "speed_bench_simple_first"
path = "benches/simple/first/speed_bench.rs"
harness = false

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
# panic = "abort"
panic = "unwind"
# strip = "symbols"
strip = "none"
overflow-checks = false
incremental = false
debug = 1

[profile.release.package."*"]
opt-level = 3
codegen-units = 1
debug = 1
