[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[project]
name = "onego"
version = "0.0.1"
description = "1go"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []